

<app-thumbnail></app-thumbnail>
<app-basic (RatingUpEvent)="addRatingUp($event)" (RatingDownEvent)="addRatingDown($event)"  [RatingUp]="RatingsUp" [RatingDown]="RatingsDown" ></app-basic>
<app-date-time ></app-date-time>



<!-- 
    <app-thumbnail[MovieThumbnail]="MovieThumbnails"></app-thumbnail>
    <app-basic (RatingUpEvent)="addRatingUp($event)" (RatingDownEvent)="addRatingDown($event)" [Title]="Titles" [Rating]="Ratings" [Des]="Desc" [RatingUp]="RatingsUp"
        [RatingDown]="RatingsDown"></app-basic>
    <app-date-time [Lasting]="Lastings" [Ondate]="Ondates"></app-date-time>
-->



